/*** uncss> filename: http://127.0.0.1:4000/css/main.css ***/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

figcaption,
figure,
header,
nav {
  display: block;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

html {
  font-size: 100%;
}

.col {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.col-4 {
  width: 33.33333%;
  width: calc(100% / 12 * 4);
  width: -webkit-calc(100% / 12 * 4);
  width: -moz-calc(100% / 12 * 4);
}

.col-12 {
  width: 100%;
}

.row {
  padding-top: 1em;
  padding-bottom: 1em;
}

.no-desktop {
  display: none;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
  color: #434343;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  zoom: 1;
}

a {
  color: #27ae61;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

p {
  margin: 0 0 1.6em 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

h2 {
  line-height: normal;
  font-weight: normal;
  margin: 0 0 0.33em 0;
}

h2 {
  font-size: 32px;
  font-size: 2rem;
}

ul {
  margin: 1em 0;
}

ul {
  padding: 0 0 0 22px;
}

nav ul {
  list-style: none;
  list-style-image: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media only screen and (min-width: 740px) and (max-width: 959px) {
  .tablet-col-4 {
    width: 33.33333%;
    width: calc(100% / 12 * 4);
    width: -webkit-calc(100% / 12 * 4);
    width: -moz-calc(100% / 12 * 4);
  }

  .tablet-full {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    margin: 1em 0 0 0;
    display: block;
  }

  .tablet-full:first-child {
    margin-top: 0;
  }

  .no-tablet {
    display: none;
  }
}

@media only screen and (max-width: 739px) {
  .mobile-full {
    left: auto;
    clear: both;
    float: none;
    width: 100%;
    margin: 0.2em 0 0 0;
    display: block;
  }

  .mobile-full:first-child {
    margin-top: 0;
  }

  .show-mobile {
    display: block;
  }
}

@media print {
  * {
    background: transparent;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%;
  }

@page {
    margin: 0.5cm;
}

  p,
  h2 {
    orphans: 3;
    widows: 3;
  }

  h2 {
    page-break-after: avoid;
  }
}

/* Common style */

.hfx-item figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.hfx-item figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.hfx-item figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hfx-item figure figcaption::before,
.hfx-item figure figcaption::after {
  pointer-events: none;
}

.hfx-item figure figcaption,
.hfx-item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

.hfx-item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.hfx-item figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.hfx-item figure h2 span {
  font-weight: 800;
}

.hfx-item figure h2,
.hfx-item figure p {
  margin: 0;
}

.hfx-item figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/

/***** Oscar *****/

/*---------------*/

figure.effect-oscar {
  background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
  background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
}

figure.effect-oscar img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
  padding: 3em;
  background-color: rgba(58, 52, 42, 0.7);
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
}

figure.effect-oscar h2 {
  margin: 20% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

figure.effect-oscar:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-oscar:hover figcaption {
  background-color: rgba(58, 52, 42, 0);
}

figure.effect-oscar:hover img {
  opacity: 0.4;
}

.logo {
  float: left;
}

.primary-nav-toggle {
  float: right;
  width: 60px;
  height: 60px;
  background-color: red;
}

@media only screen and (min-width: 740px) {
  .primary-nav {
    position: absolute;
    right: 0;
  }
}

@media only screen and (max-width: 739px) {
  /* Slidebars 0.10.2 (http://plugins.adchsm.me/slidebars/) written by Adam Smith (http://www.adchsm.me/) released under MIT License (http://plugins.adchsm.me/slidebars/license.txt) */

  #sb-site,
  .sb-slidebar,
  body,
  html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body,
  html {
    width: 100%;
    overflow-x: hidden;
  }

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    height: auto;
    position: relative;
  }

  #sb-site {
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: #fff;
  }

  .sb-slidebar {
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 0;
    display: none;
    background-color: #222;
    -webkit-transform: translate(0px);
  }

  .sb-right {
    right: 0;
  }

  .sb-slidebar {
    width: 30%;
  }
}

@media only screen and (max-width: 739px) and (max-width: 480px) {
  .sb-slidebar {
    width: 70%;
  }
}

@media only screen and (max-width: 739px) and (min-width: 481px) {
  .sb-slidebar {
    width: 55%;
  }
}

@media only screen and (max-width: 739px) and (min-width: 768px) {
  .sb-slidebar {
    width: 40%;
  }
}

@media only screen and (max-width: 739px) and (min-width: 992px) {
  .sb-slidebar {
    width: 30%;
  }
}

@media only screen and (max-width: 739px) and (min-width: 1200px) {
  .sb-slidebar {
    width: 20%;
  }
}

@media only screen and (max-width: 739px) {
  #sb-site,
  .sb-slidebar {
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform,left,right;
    -webkit-backface-visibility: hidden;
  }
}

