.header {

	background-color: $C-layout-white;

	.col {
		padding: 0 15px;
	}

	.row {
		height: 100px;
	}

	&__logo {
	
		float: left;
		margin-top: 15px;
		
		p {
			background:transparent url(cdn-image('hajime-hiro-logo-2.png')) no-repeat 0 0;
			width: 220px;
			height: 35px;
			text-indent: -999px;
			margin:0;
			background-size: contain;
		}
	}

	&__nav-toggle {
		float: right;
		width: 40px;
		height: 40px;
		margin-top: 15px;
	}

}

.primary-nav {

	&__item {

		text-transform: uppercase;

		a {
			text-decoration: none;
			color: #333;
		}
	}
}