.header {
	padding: 0 $L-gutter-width;
}

.primary-nav {
	
	position: absolute;
	top: $hero-banner-height;
	right: $L-gutter-width;
	padding: 25px 0;

	&__item {
		float: left;
		padding-right: 25px;

		&--last {
			padding: 0;
		}
	}
}