.tk {

	&__bleed-arrow {

		$arrow-size: 40px;

		width: 0; 
		height: 0; 
		position: absolute;

		&--down {
			border-left: $arrow-size solid transparent;
			border-right: $arrow-size solid transparent;
			border-top: $arrow-size solid $bleed;
			bottom: -39px;
			left: 47%;
		}

	}

	&__panel-arrow {

		$arrow-size: 15px;

		width: 0; 
		height: 0; 
		border-top: $arrow-size solid transparent;
		border-bottom: $arrow-size solid transparent;
		position: absolute;
		

		&--left {	
			border-right: $arrow-size solid $wrapper-main-bg;
			right: 0px;
		}

		&--right {	
			border-left: $arrow-size solid $wrapper-main-bg;
			left: 0px;
		}

		&--down {
			border-left: $arrow-size solid transparent;
			border-right: $arrow-size solid transparent;
			border-top: $arrow-size solid $wrapper-main-bg;
			top:0;
		}

		&--top {
			top: 30px;
		}

		&--bottom {
			bottom: 30px;
		}

		&--hide-mobile {
			display: none;
		}

	}

}