// Dependancy on _hover-effects.scss

.feature-grid {
	
	&__row, &__panel {
		padding:0;
	}

	&__row {

		&--first {
			position: relative;
			padding-top: 100px;
		}
	}

	&__panel {
		position: relative;

		&--intro {
			position: absolute;
			top:0px;
		}

		&--static-image {
			img {
				width: 100%;
			}
		}
	}

	&__effect-panel {

		&--mustard {
			background-color: $mustard;
		}

		&--red {
			background-color: $red;
		}

		&--blue {
			background-color: $blue;
		}

	}

}
