// Dependancy on _hover-effects.scss

.feature-grid {
	
	&__row, &__panel {
		padding:0;
	}

	&__row {

		&--first {
			position: relative;
			padding-top: 100px;
		}
	}

	&__panel {
		position: relative;

		&--intro {
			position: absolute;
			top:0px;
		}

		&--static-image {
			img {
				width: 100%;
			}
		}
	}

	&__effect-panel {

		h2 {
			top:56%;
			padding: 9px 0;
			z-index: 100;

			text-indent: 999px;
			background-image: url(/images/main-sprite.png);
			background-size: 274px;
			background-position-x: 171px;
			background-repeat: no-repeat;
			background-position-y: 6px;

		}

		&--mustard {
			background-color: $mustard;

			h2 {
				background-color: $mustard;
			}
		}

		&--red {
			background-color: $red;

			h2 {
				background-color: $red;
				background-position-y: -54px;
			}
		}

		&--blue {
			background-color: $blue;

			h2 {
				background-color: $blue;
				background-position-x: 89px;
				background-position-y: -115px;
			}
		}

	}

	&__intro-header {
		
		text-align: center;
		padding-top: 85px;

		h3 {
			text-indent: 999px;
			background-image: url(/images/main-sprite.png);
			background-size: 274px;
			background-position-x: 89px;
			background-repeat: no-repeat;
			background-position-y: -187px;
			height: 42px;
		}

		
	}

}
