<div class="mod-feature-grid">

  <div class="row clear top-row">
    <div class="col col-4 tablet-col-4 mobile-full">
      <span>1</span>
    </div>
    <div class="col col-4 tablet-col-4 mobile-full hfx-item">
      <figure class="effect-oscar">
        <img src="http://tympanus.net/Development/HoverEffectIdeas/img/9.jpg" alt="img09"/>
        <figcaption>
          <h2>Suits &amp <span>Gi's</span></h2>
          <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
          <a href="#">View more</a>
        </figcaption>     
      </figure>
    </div>
    <div class="col col-4 tablet-col-4 mobile-full">
      <span>3</span>
    </div>
  </div>

  <div class="row clear">
    <div class="col col-4 tablet-col-4 mobile-full hfx-item">
      <figure class="effect-oscar">
        <img src="http://tympanus.net/Development/HoverEffectIdeas/img/9.jpg" alt="img09"/>
        <figcaption>
          <h2>Our <span>Belts</span></h2>
          <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
          <a href="#">View more</a>
        </figcaption>     
      </figure>
    </div>
    <div class="col col-4 tablet-col-4 mobile-full">
      <span>3</span>
    </div>
    <div class="col col-4 tablet-col-4 mobile-full hfx-item">
      <figure class="effect-oscar">
        <img src="http://tympanus.net/Development/HoverEffectIdeas/img/9.jpg" alt="img09"/>
        <figcaption>
          <h2>Practise <span>Pads</span></h2>
          <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
          <a href="#">View more</a>
        </figcaption>     
      </figure>
    </div>
  </div>  

</div>