<div class="feature-grid">

  <div class="row clear feature-grid__row feature-grid__row--first">
    
    <div class="col col-4 tablet-col-4 mobile-full hfx-item feature-grid__panel">
      <figure class="effect-romeo feature-grid__effect-panel feature-grid__effect-panel--mustard">
        <img src="/images/placeholder/suits_480_360.jpg" alt="img09"/>
        <figcaption>
          <h2><span>Suits</span></h2>
          <a href="#">View more</a>
        </figcaption>     
      </figure>
    </div>
    
    <div class="col col-4 tablet-col-4 mobile-full feature-grid__panel feature-grid__panel--intro">
      <div class="feature-grid__intro-header">
        <h3>Our&nbsp;Products</h3>
      </div>  
    </div>
    
    <div class="col col-4 tablet-col-4 mobile-full hfx-item feature-grid__panel">
      <figure class="effect-romeo feature-grid__effect-panel feature-grid__effect-panel--red">
        <img src="/images/placeholder/belts_480_360.jpg" alt="img09"/>
        <figcaption>
          <h2><span>Belts</span></h2>
          <a href="#">View more</a>
        </figcaption>     
      </figure>
    </div>
  
  </div>

  <div class="row clear feature-grid__row">
    <div class="col col-4 tablet-col-4 mobile-full feature-grid__panel">
      &nbsp;
    </div>
    <div class="col col-4 tablet-col-4 mobile-full hfx-item feature-grid__panel">
      <figure class="effect-romeo feature-grid__effect-panel feature-grid__effect-panel--blue">
        <img src="/images/placeholder/supplements_480_360.jpg" alt="img09"/>
        <figcaption>
          <h2><span>Supplements</span></h2>
          <a href="#">View more</a>
        </figcaption>     
      </figure>
    </div>
    <div class="col col-4 tablet-col-4 mobile-full feature-grid__panel">
      &nbsp;
    </div>
  </div>

  <div class="col col-12 tablet-col-12 mobile-full">
    
    <a href="#">View shop</a>

  </div>

  <div class="row clear feature-grid__row">
    <div class="col col-8 tablet-col-8 mobile-full feature-grid__panel feature-grid__panel--static-image">
      <img src="http://lorempixel.com/output/sports-q-g-960-360-1.jpg" alt="">
      <span class="tool-kit__panel-arrow tool-kit__panel-arrow--left tool-kit__panel-arrow--top tool-kit__panel-arrow--hide-mobile"></span>
    </div>
    <div class="col col-4 tablet-col-4 mobile-full feature-grid__panel">
      &nbsp;
    </div>
  </div>

</div>